.paginationContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
}
.paginationButton {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.paginationButton:hover {
    background-color: #318CE7;
    color: white;
}
.numbers {
    background-color: #A0CED9;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    margin: 2px;
    width: 40px;
    height: 40px;
}
.numbers:hover {
    background-color: #318CE7;
    color: white
}

